---
permalink: /es
---

<!doctype html>
<html ⚡ lang="es">
  <link rel="alternate" href="{{ site.baseurl }}" hreflang="en" />
  <link rel="alternate" href="{{ site.baseurl | append: '/fr'}}" hreflang="fr" />
  {% include head.html %}
  <body class="has-navbar-fixed-top">
    {% include header.html %}

    <section>
      <div class="is-fluid is-widescreen">
        <amp-img src="{{ site.baseurl | append:'/assets/img/bandeau.svg'}}" 
                 alt="Line of {{ site.title }}"
                 title="Line {{ site.title }}"
                 layout="responsive"
                 width="100" height="7"></amp-img>
      </div>
    </section>

    <section class="hero is-small">
      <div class="hero-body is-centered">
        <div class="container">
          <div class="columns is-mobile is-horizontal-center">
            <div class="column is-3-desktop is-6-mobile">
              <center>
                <amp-img src="{{ site.baseurl | append:'/assets/img/lucia-lion.jpg'}}" 
                         alt="Photo of {{ site.title }}"
                         title="{{ site.title }}"
                         class="border-image"
                         layout="intrinsic"
                         width="250" height="250"></amp-img>
              </center>
            </div>
            <div class="column is-3-desktop is-6-mobile has-text-centered">
              <h1 class="bottom-three">
                <p class="has-text-info is-size-3-desktop is-size-5-mobile is-uppercase">
                  Lucia
                </p>
                <p class="has-text-info has-text-weight-bold is-size-4-desktop is-size-6-mobile is-uppercase">
                  Cardenas Melgarejo
                </p>
                <p class="is-size-4-desktop is-size-6-mobile">
                  Growth Marketer & Consultante de innovación 
                </p>
              </h1>
              <a class="button is-info is-rounded" on="tap:contact_me.scrollTo(duration=500)">Contactarme</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="hero is-warning is-small">
      <div class="hero-body">
        <div class="container" id="last_articles">
          <h2 class="title">Hola !</h2>
          <p class="is-size-4-desktop is-4-mobile">
            Mi nombre es <strong>Lucia</strong> Cardenas Melgarejo. Mi trabajo
            es ayudar a negocios nacionales e internacionales a alcanzar su
            potencial de crecimiento y a mejorar sus estrategias de comercio.
          </p>
          <p class="is-size-4-desktop is-4-mobile">
            Tengo mas de 7 años de experiencia en este campo. He sido
            <strong>Gerente de marketing digital, Líder de comunidades y
              Facilitadora de eventos</strong>.
            Ademas tengo una extensa experiencia en proyectos educativos.
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <center>
          <h2 class="title bottom-five">Como puedo ayudarte ?</h2>
        </center>

        <div class="columns is-mobile is-multiline is-horizontal-center is-centered">

          <div class="column is-4-desktop is-12-mobile has-text-centered">
            <amp-img src="{{ site.baseurl | append:'/assets/img/growth.svg'}}" 
                     alt="growth"
                     title="Growth and marketing"
                     width="150" height="150"></amp-img>
                   <br></br>
                   <h3 class="title">
                     Crecimiento y comercio
                   </h3>
                   <p>
                     Definir indicadores de rendimiento (KPIs) y estrategias de crecimiento
                   </p>
                   <p>
                     Ejecutar acciones de adquisición para alcanzar sus metas
                   </p>
                   <p>
                     <i>(Google Ads, Facebook Ads, Emailing, Landing Pages, AB Tests)</i>
                   </p>
          </div>

          <div class="column is-4-desktop is-12-mobile has-text-centered">
            <amp-img src="{{ site.baseurl | append:'/assets/img/event.svg'}}" 
                     alt="event"
                     title="Event Management and Facilitation"
                     width="150" height="150"></amp-img>
                   <br></br>
                   <h3 class="title">
                     Manejo y facilitación de eventos
                   </h3>
                   <p>
                     Diseño y ejecución de estrategias de eventos para crear oportunidades de negocios
                   </p>
          </div>

          <div class="column is-4-desktop is-12-mobile has-text-centered">
            <center>
              <amp-img src="{{ site.baseurl | append:'/assets/img/education.svg'}}" 
                       alt="education"
                       title="Education projects"
                       width="150" height="150"></amp-img>
            </center>
            <br></br>
            <h3 class="title">
              Proyectos educativos
            </h3>
            <p>
              Crear experiencias personalizadas de aprendizaje y talleres de trabajo
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="hero is-info" id="contact_me">
      <div class="hero-body ">
        <div class="container">
          <center>
            <h2 class="title bottom-five">Listo para mejorar su comercio ?</h2>
          </center>
          {% include contact.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
