---
title: Luciacardenas.Github.Io
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
markdown: kramdown
highlighter: rouge
paginate: 5
language: en-uk
name: Finding The Way Home
description: A beautiful narrative written with the world's most elegant publishing
  platform. The story begins here.
author: Casper McFadden
nickname: casper
bio: A paranormal expert and his daughter bunk in an abandoned house populated by
  3 mischievous ghosts and one friendly one.
location: Maine, USA
url: http://luciacardenas.github.io
image: assets/images/casper.png
google_analytics: UA-69281367-1
disqus: username
<<<<<<< HEAD
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /

# Permalinks
permalink: /:title
# permalink: /author/:username
# permalink: /tag/:tag


# gems and other configs
gems: [jekyll-paginate]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
=======
permalink: "/:title"
gems:
- jekyll-paginate
exclude:
- README.md
- Rakefile
- Gemfile
- Gemfile.lock
- changelog.md
- "*.Rmd"
- vendor
- ".travis.yml"
>>>>>>> fad7457516d1c8ad6f4a8896f30e92fc0384d295
safe: false
lsi: false
username: biomadeira
repo: jasper
branch: master
relative_source: "../jasper/"
destination: "../jasper-pages/"
production_url: https://biomadeira.github.io/jasper/
source_url: https://github.com/biomadeira/jasper/
