<div class="field">
  <label class="label">Name</label>
  <div class="control is-fullwidth">
    <input class="input is-rounded" type="text" placeholder="Name"  name="name" required>
  </div>
</div>

<div class="field">
  <label class="label">Mail</label>
  <div class="control is-expanded">
    <input class="input is-rounded" type="text" placeholder="name@example.tld" name="email" required>
  </div>
</div>

<div class="field">
  <label class="label">Message</label>
  <div class="control is-expanded">
    <textarea class="textarea" placeholder="Message" name="message"></textarea>
  </div>
</div>

<div class="field">
  <div class="control is-expanded">
    <center>
      <a class="button is-white is-rounded" href="/form" target="_blank">Send</a>
    </center>
  </div>
</div>
