<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <amp-img src="{{ site.baseurl | append:'/assets/img/logo.svg'}}" 
               alt="{{ site.title }}"
               title="Logo {{ site.title }}"
               width="30" height="30"></amp-img>
    </a>
    <div class="navbar-item" style="flex-grow: 1; justify-content: center;">
      <!--
      <a on="tap:AMP.setState({ hideGreeting: false })" class="button is-info is-rounded is-hidden-desktop">Call me 06<div hidden [hidden]="hideGreeting">95 31 68 21</div> </a>
      -->
      {% if page.path contains '_es' %}
      <a class="button is-info is-rounded is-hidden-desktop" href="/es/form">Contactarme</a>
      {% elsif page.path contains '_fr' %}
      <a class="button is-info is-rounded is-hidden-desktop" href="/fr/form">Me contacter</a>
      {% else %}
      <a class="button is-info is-rounded is-hidden-desktop" href="/form">Contact me</a>
      {% endif %}


    </div>

    <a 
      id="buger"
      class="navbar-burger burger" 
      on="tap:navbarMenu.toggleClass(class='is-active'),buger.toggleClass(class='is-active')"
      data-target="navbarMenu">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="navbarMenu" 
       class="navbar-menu"
    >
    {% if page.lang %}
    <div class="navbar-end">
      <a class="navbar-item is-hoverable" href="{% if page.path contains '_es' %}{{ '/es/blog/' | prepend: site.baseurl }}{% elsif page.path contains '_fr' %}{{ '/fr/blog/' | prepend: site.baseurl }}{% else %}{{ '/blog/' | prepend: site.baseurl}}{% endif %}">
        Blog
      </a>
    <div class="navbar-item">
      <div class="buttons">
        {% for language in site.data.lang %}
        {% if page.lang == 'en_US' %}
        <a class="button is-white" href="{% if language[0] == 'es' %}{{ page.url | prepend: 'es' | relative_url | prepend: site.baseurl }}{% elsif language[0] == 'fr' %}{{ page.url | prepend: 'fr' | relative_url | prepend: site.baseurl }}{% else %}{{ page.url | prepend: site.baseurl}}{% endif %}">
          {{ language[1].icon }} {{ language[0] }} 
        </a>
        {% endif %}
        {% if page.lang == 'es_ES' %}
        <a class="button is-white" href="{% if language[0] == 'es' %}{{ page.url | prepend: site.baseurl}}{% elsif language[0] == 'fr' %}{{ page.url | replace_first: '/es', '/fr' | prepend: site.baseurl}}{% else %}{{ page.url | replace_first: '/es/', '/' | prepend: site.baseurl}}{% endif %}">
          {{ language[1].icon }} {{ language[0] }} 
        </a>
        {% endif %}
        {% if page.lang == 'fr_FR' %}
        <a class="button is-white" href="{% if language[0] == 'es' %}{{ page.url | replace_first: '/fr', '/es' | prepend: site.baseurl}}{% elsif language[0] == 'fr' %}{{ page.url | prepend: site.baseurl}}{% else %}{{ page.url | replace_first: '/fr/', '/'  }}{% endif %}">
          {{ language[1].icon }} {{ language[0] }} 
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    </div>
    {% endif %}

  </div>
</nav>
