<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <amp-img class="amp-close-image"
    src="/assets/img/close.png"
    width="30"
    height="30"
    alt="close sidebar"
    on="tap:sidebar.close"
    role="button"
    tabindex="0"></amp-img>

    {% if page.lang %}
      {% for language in site.data.lang %}
      {% if page.lang == 'en_US' %}
      <a class="navbar-item is-link" href="{% if language[0] == 'es' %}{{ page.url | prepend: 'es' | relative_url | prepend: site.baseurl }}{% elsif language[0] == 'fr' %}{{ page.url | prepend: 'fr' | relative_url | prepend: site.baseurl }}{% else %}{{ page.url | prepend: site.baseurl}}{% endif %}">
        {{ language[1].icon }} {{ language[0] }} 
      </a>
      {% endif %}
      {% if page.lang == 'es_ES' %}
      <a class="navbar-item is-link" href="{% if language[0] == 'es' %}{{ page.url | prepend: site.baseurl}}{% elsif language[0] == 'fr' %}{{ page.url | replace_first: '/es', '/fr' | prepend: site.baseurl}}{% else %}{{ page.url | replace_first: '/es/', '/' | prepend: site.baseurl}}{% endif %}">
        {{ language[1].icon }} {{ language[0] }} 
      </a>
      {% endif %}
      {% if page.lang == 'fr_FR' %}
      <a class="navbar-item is-link" href="{% if language[0] == 'es' %}{{ page.url | replace_first: '/fr', '/es' | prepend: site.baseurl}}{% elsif language[0] == 'fr' %}{{ page.url | prepend: site.baseurl}}{% else %}{{ page.url | replace_first: '/fr/', '/'  }}{% endif %}">
        {{ language[1].icon }} {{ language[0] }} 
      </a>
      {% endif %}
      {% endfor %}
    {% endif %}
</amp-sidebar>
