<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <amp-img class="amp-close-image"
    src="/assets/img/close.png"
    width="30"
    height="30"
    alt="close sidebar"
    on="tap:sidebar.close"
    role="button"
    tabindex="0"></amp-img>

      {% if page.path contains '_es' %}
      <p>
        <a href="/es/" class="is-size-2 has-text-primary has-text-weight-bold ">
          Inicio
        </a>
      </p>
      {% elsif page.path contains '_fr' %}
      <p>
        <a href="/fr/" class="is-size-2 has-text-primary has-text-weight-bold ">
          Accueil
        </a>
      </p>
      {% else %}
      <p>
        <a href="/" class="is-size-2 has-text-primary has-text-weight-bold ">
          Home
        </a>
      </p>
      {% endif %}

      <br>
      {% if page.path contains '_es' %}
      <p>
        <a href="/es/blog/" class="is-size-3 has-text-danger has-text-weight-bold ">
          Blog
        </a>
      </p>
      {% elsif page.path contains '_fr' %}
      <p>
        <a href="/fr/blog/" class="is-size-3 has-text-danger has-text-weight-bold ">
          Blog
        </a>
      </p>
      {% else %}
      <p>
        <a href="/blog/" class="is-size-3 has-text-danger has-text-weight-bold ">
          Blog
        </a>
      </p>
      {% endif %}

      <br>
      <br>

    {% if page.lang %}
      {% for language in site.data.lang %}
      {% if page.lang == 'en_US' %}
      <a class="navbar-item is-link" href="{% if language[0] == 'es' %}{{ page.url | prepend: 'es' | relative_url | prepend: site.baseurl }}{% elsif language[0] == 'fr' %}{{ page.url | prepend: 'fr' | relative_url | prepend: site.baseurl }}{% else %}{{ page.url | prepend: site.baseurl}}{% endif %}">
        {{ language[1].icon }} {{ language[1].label }} 
      </a>
      {% endif %}
      {% if page.lang == 'es_ES' %}
      <a class="navbar-item is-link" href="{% if language[0] == 'es' %}{{ page.url | prepend: site.baseurl}}{% elsif language[0] == 'fr' %}{{ page.url | replace_first: '/es', '/fr' | prepend: site.baseurl}}{% else %}{{ page.url | replace_first: '/es/', '/' | prepend: site.baseurl}}{% endif %}">
        {{ language[1].icon }} {{ language[1].label }} 
      </a>
      {% endif %}
      {% if page.lang == 'fr_FR' %}
      <a class="navbar-item is-link" href="{% if language[0] == 'es' %}{{ page.url | replace_first: '/fr', '/es' | prepend: site.baseurl}}{% elsif language[0] == 'fr' %}{{ page.url | prepend: site.baseurl}}{% else %}{{ page.url | replace_first: '/fr/', '/'  }}{% endif %}">
        {{ language[1].icon }} {{ language[1].label }} 
      </a>
      {% endif %}
      {% endfor %}
    {% endif %}
</amp-sidebar>
