//@import url('https://fonts.googleapis.com/css?family=Lato');
//$family-sans-serif: "Lato", sans-serif;

//$fa-font-path: "/assets/fonts/font-awesome";

$white: #ffffff;
$navbar-burger-color: #000000;

.is-horizontal-center {
  justify-content: center;
}

$lightblue: #03abea;
//$lightblue-invert: #ffffff;

$primary: $lightblue;
//$primary-invert: $darkblue-invert;
