---
layout: default
carousel: true
permalink: /es/
---

<section class="hero is-small">
  <div class="hero-body is-centered">
    <div class="container">
      <div class="columns is-mobile is-horizontal-center">
        <div class="column is-3-desktop is-6-mobile">
          <center>
            <amp-img src="{{ site.baseurl | append:'/assets/img/lucia-lion.jpg'}}" 
                     alt="Photo of {{ site.title }}"
                     title="{{ site.title }}"
                     class="border-image"
                     layout="intrinsic"
                     width="250" height="250"></amp-img>
          </center>
        </div>
        <div class="column is-3-desktop is-6-mobile has-text-centered">
          <h1 class="bottom-three">
            <p class="has-text-info is-size-3-desktop is-size-5-mobile is-uppercase">
              Lucía
            </p>
            <p class="has-text-info has-text-weight-bold is-size-4-desktop is-size-6-mobile is-uppercase">
              Cárdenas Melgarejo
            </p>
            <p class="is-size-4-desktop is-size-6-mobile">
              Growth Marketer & Consultora de innovación 
            </p>
          </h1>
          <a class="button is-info is-rounded" on="tap:contact_me.scrollTo(duration=500)">Contactarme</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="hero is-warning is-small">
  <div class="hero-body">
    <div class="container" id="last_articles">
      <h2 class="title">Hola !</h2>
      <p class="is-size-4-desktop is-4-mobile">
        Mi nombre es <strong>Lucía</strong> Cárdenas Melgarejo. Mi trabajo
        es ayudar a negocios nacionales e internacionales a alcanzar su
        potencial de crecimiento y a mejorar sus estrategias de comercio.
      </p>
      <p class="is-size-4-desktop is-4-mobile">
        Tengo más de 7 años de experiencia en este campo. He sido
        <strong>Directora de marketing digital, Líder de comunidades y
          Facilitadora de eventos</strong>.
        Además tengo una extensa experiencia en proyectos educativos.
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <center>
      <h2 class="title bottom-five">Como puedo ayudarte ?</h2>
    </center>

    <div class="columns is-mobile is-multiline is-horizontal-center is-centered">

      <div class="column is-4-desktop is-12-mobile has-text-centered">
        <amp-img src="{{ site.baseurl | append:'/assets/img/growth.svg'}}" 
                 alt="growth"
                 title="Growth and marketing"
                 width="150" height="150"></amp-img>
               <br></br>
               <h3 class="title">
                 Crecimiento y comercio
               </h3>
               <p>
                 Definir indicadores de rendimiento (KPIs) y estrategias de crecimiento
               </p>
               <p>
                 Ejecutar acciones de adquisición para alcanzar sus metas
               </p>
               <p>
                 <i>(Google Ads, Facebook Ads, Emailing, Landing Pages, AB Tests)</i>
               </p>
      </div>

      <div class="column is-4-desktop is-12-mobile has-text-centered"
           on="tap:facilitation.toggleVisibility,readmore-button-facilitation.toggleVisibility,readmore-button-education.show,education.hide,facilitation.scrollTo(duration=500)"
           tabindex="0"
           role="button"
           >
           <amp-img src="{{ site.baseurl | append:'/assets/img/event.svg'}}" 
                    alt="event"
                    title="Event Management and Facilitation"
                    width="150" height="150"></amp-img>
        <br></br>
        <h3 class="title">
          Manejo y facilitación de eventos
        </h3>
        <p>
          Diseño y ejecución de estrategias de eventos para crear oportunidades de negocios
        </p>
        <a class="button is-fullwidth" id="readmore-button-facilitation">
          Saber más ⬇️
        </a>
      </div>

      <div class="column is-4-desktop is-12-mobile has-text-centered"
           on="tap:education.toggleVisibility,readmore-button-education.toggleVisibility,readmore-button-facilitation.show,facilitation.hide,education.scrollTo(duration=500)"
           tabindex="0"
           role="button"
           >
           <center>
             <amp-img src="{{ site.baseurl | append:'/assets/img/education.svg'}}" 
                      alt="education"
                      title="Education projects"
                      width="150" height="150"></amp-img>
           </center>
           <br></br>
           <h3 class="title">
             Proyectos educativos
           </h3>
           <p>
             Crear experiencias personalizadas de aprendizaje y talleres de trabajo
           </p>
           <a class="button is-fullwidth" id="readmore-button-education">
             Saber más ⬇️
           </a>
      </div>

    </div>

    <div id="facilitation"  hidden="">
      <amp-carousel class="carousel-component" height="400" layout="fixed-height" type="carousel"  controls>
        {% for image in site.data.facilitations %}
        <figure>
          <amp-img src="{{ image.img | relative_url }}" 
                   on="tap:lightbox1" 
                   tabindex="0"
                   role="button"
                   alt=""
                   title=""
                   width="450" height="300"
                               layout="intrinsic"
                               ></amp-img>
            <p>
              {{ image.text }}
            </p>
        </figure>
        {% endfor %}
      </amp-carousel>
      <amp-image-lightbox id="lightbox1" layout="nodisplay" data-close-button-aria-label="Close"></amp-image-lightbox>
    </div>

    <div id="education" hidden="">
      <amp-carousel class="carousel-component" height="400" layout="fixed-height" type="carousel"  controls>
        {% for image in site.data.educations %}
        <figure>
          <amp-img src="{{ image.img | relative_url }}" 
                   on="tap:lightbox2" 
                   tabindex="0"
                   role="button"
                   alt=""
                   title=""
                   width="450" height="300"
                               layout="intrinsic"
                               ></amp-img>
            <p>
              {{ image.text }}
            </p>
        </figure>
        {% endfor %}
      </amp-carousel>
      <amp-image-lightbox id="lightbox2" layout="nodisplay" data-close-button-aria-label="Close"></amp-image-lightbox>
    </div>



  </div>
</section>


<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <center>
        <h2 class="title bottom-five">Ellos confiaron en mí</h2>
      </center>
      <div class="columns is-mobile is-multiline is-horizontal-center is-centered">
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/adsup.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/alianzafrancesa.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/BBVA.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/brontibay.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/eathwith2.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/enedis.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/fitnext2.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/fabrikcycles.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/gemperles.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/ocus.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/pib.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/rocket-school.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/sanofi.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/timebyme.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>
        <div class="column is-3">
          <amp-img src="{{ '/assets/img/companies/youshould.svg' | relative_url }}" 
                   alt=""
                   title=""
                   width="150" height="150"
                               layout="intrinsic"
                               ></amp-img>
        </div>


      </div>
    </div>
  </div>
</section>


<section class="section" id="contact_me">
  <div class="container">
    <center>
      <h2 class="title">Listo para mejorar el desempeño de su negocio ?</h2>
    </center>
    {% include contact.html %}
  </div>
</section>
